---
layout: default
title: blog
---
<div class="row">
  <div class="twelve columns">
    <a href="/" class="hverhome">
      <img src="{{ site.url }}/{{ site.picture }}" class="round" id="profileicon"/>
      <span>home</span>
    </a>
    <p id="pagetitle">blog</p>
  </div>
</div>

<hr noshade />

<div class="row">
  <div class="twelve columns">
    {% for post in paginator.posts %}
    <ul>
      <li>
        <div class="post-date float-right">
          <span>{{ post.date | date: '%b %d %Y' }}</span>
        </div>
        <div class="post-title">
          <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        </div>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>

<br />

<div class="row">
  <div class="twelve columns">
    {% include pagination.html %}
  </div>
</div>
